.spaced li {
  margin:0 0 10px 0;
}

.shadow {
  box-shadow:0 14px 20px 0 rgba(0,0,0,0.2),0 10px 24px 0 rgba(0,0,0,0.19) !important;
}

.my-orange-text, section.has-dark-background .my-orange-text h3, .my-orange-text em {
  color: #f6a418 !important;
}
